.w {
  width: 78.08vw !important;
  margin: 0 auto;
}
.b {
  border: 2px solid pink;
  background-color: #45109a;
  color: white;
  font-weight: bold;
  opacity: 1;
  border-radius: 0.5vw;
}
.c {
  border: 2px solid #1e0606;
  background-color: #093602;
  color: white;
  font-weight: bold;
  opacity: 1;
  border-radius: 0.5vw;
}
.red {
  display: block !important;
}
.sub {
  background-color: red !important;
}
body header {
  width: 100%;
  height: 14.09vw;
  background: url(../images/logo.jpg) no-repeat;
  background-size: 100%;
}
body .warp {
  text-align: center;
  height: 1vw;
  background-color: black;
  opacity: 0.6;
  transition: height 0.5s, line-height 0.5s;
  overflow: hidden;
}
body .warp .top {
  height: 3vw;
  margin-top: 2vw;
  line-height: 3vw;
}
body .warp .top input {
  border: 2px solid red;
  border-radius: 0.5vw;
}
body .warp .top button a {
  width: 100%;
  height: 100%;
  color: white;
}
body .warp .top button:nth-child(3) {
  margin-left: 3vw;
}
body .warp:hover {
  height: 7vw;
  line-height: 7vw;
}
body section .nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body section .nav ul li {
  font-size: 1.71vw;
  color: black;
  font-weight: bold;
}
body section .nav ul li a {
  font-size: 1.71vw;
  color: black;
  font-weight: bold;
}
body section .bos {
  height: 23.69vw;
  display: flex;
  margin-top: 2vw;
  flex-direction: row;
  justify-content: space-between;
}
body section .bos .left {
  height: 23.69vw;
  width: 49vw;
  border-radius: 0.5vw;
  position: relative;
}
body section .bos .left .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
body section .bos .left .swiper .swiper-wrapper {
  border-radius: 1vw !important;
}
body section .bos .left .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
body section .bos .left .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body section .bos .left .swiper .swiper-pagination {
  display: flex;
  position: absolute;
  top: 90%;
  left: 10%;
}
body section .bos .left .swiper .swiper-pagination span {
  margin-left: 1vw;
  background-color: blueviolet;
}
body section .bos .right {
  height: 23.69vw;
  width: 27.92vw;
}
body section .bos .right img {
  width: 13.18vw;
  height: 7.98vw;
  border-radius: 0.5vw;
}
body section .bos .right ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body section .bos .right ul li {
  font-size: 0.98vw;
  color: black;
  margin-top: 1vw;
  font-weight: bold;
  position: relative;
}
body section .bos .right ul li div {
  position: absolute;
  width: 100%;
  height: 0.5vw;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 100;
  text-align: center;
  overflow: hidden;
  transition: height 0.5s, line-height 0.5s;
}
body section .bos .right ul li div img {
  width: 3.38vw;
  height: 3.48vw;
  margin-top: 2vw;
}
body section .bos .right ul li:hover div {
  height: 7.98vw;
  line-height: 100%;
}
body section .popularize {
  height: 32.15vw;
  margin-top: 0.5vw;
}
body section .popularize .top {
  width: 100%;
  height: 14.52vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body section .popularize .top .left {
  width: 56.81vw;
  height: 14.52vw;
}
body section .popularize .top .left img {
  width: 3.38vw;
  height: 3.48vw;
}
body section .popularize .top .left span {
  font-size: 1.45vw;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: -4vw 0 0 -44vw;
  display: block;
}
body section .popularize .top .left ul {
  display: flex;
  margin-top: 2vw;
  flex-direction: row;
  justify-content: space-between;
}
body section .popularize .top .left ul li {
  position: relative;
}
body section .popularize .top .left ul li img {
  width: 12.29vw;
  height: 8.09vw;
}
body section .popularize .top .left ul li p {
  font-size: 0.8vw;
  color: black;
}
body section .popularize .top .left ul li div {
  position: absolute;
  width: 12.29vw;
  height: 0.5vw;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 100;
  text-align: center;
  overflow: hidden;
  transition: height 0.5s, line-height 0.5s;
}
body section .popularize .top .left ul li div img {
  width: 3.38vw;
  height: 3.48vw;
  margin-top: 2vw;
}
body section .popularize .top .left ul li:hover div {
  width: 12.29vw;
  height: 7.98vw;
  line-height: 100%;
}
body section .popularize .top .right {
  height: 14.52vw;
  width: 20.4vw;
}
body section .popularize .top .right img {
  height: 14.52vw;
  width: 20.4vw;
}
body section .popularize .bottom {
  width: 100%;
  margin-top: 2.4vw;
}
body section .popularize .bottom img {
  width: 100%;
  height: 14.26vw;
}
body section .anime {
  margin-top: 2vw;
  display: flex;
  height: 24.65vw;
  flex-direction: row;
  justify-content: space-between;
}
body section .anime .left {
  width: 59vw;
  height: 24.65vw;
}
body section .anime .left img {
  width: 3.38vw;
  height: 3.48vw;
}
body section .anime .left span {
  font-size: 1.45vw;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: -4vw 0 0 -49vw;
  display: block;
}
body section .anime .left ul {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body section .anime .left ul li img {
  height: 18.54vw;
  width: 14.09vw;
}
body section .anime .left ul li p {
  font-size: 0.86vw;
  color: black;
}
body section .anime .right {
  width: 17.42vw;
  height: 24.65vw;
}
body section .anime .right .top {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
body section .anime .right .top span:nth-child(1) {
  font-size: 1.39vw;
  color: black;
  font-weight: bold;
}
body section .anime .right .top span:nth-child(2) {
  font-size: 1.39vw;
  color: black;
  border: 2px solid skyblue;
}
body section .anime .right ul {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 18.65vw;
}
body section .anime .right ul li {
  display: flex;
  width: 18vw;
}
body section .anime .right ul li div:nth-child(1) {
  background-color: #ff9900;
  color: black;
  width: 1.5vw;
  height: 2.13vw;
  text-align: center;
}
body section .anime .right ul li div:nth-child(2) {
  color: black;
  width: 48vw;
  height: 2.13vw;
  text-align: left;
  font-size: 0.9vw;
  margin-left: 1vw;
  line-height: 2.13vw;
  overflow: hidden;
}
body section .anime .right ul li div:nth-child(3) {
  color: black;
  height: 0vw;
  width: 0vw;
  overflow: hidden;
}
body section .anime .right ul li div:nth-child(3) img {
  height: 4.18vw;
  width: 6.13vw;
}
body section .anime .right ul li div:nth-child(3) span:nth-child(2) {
  font-size: 0.9vw;
  margin: -4vw 0 0 7vw;
  display: block;
}
body section .anime .right ul li div:nth-child(3) span:nth-child(3) {
  font-size: 0.9vw;
  margin: 1vw 0 0 7vw;
  display: block;
}
body section .anime .right li:hover div:nth-child(2) {
  width: 0;
  height: 0;
}
body section .anime .right li:hover div:nth-child(3) {
  width: 16vw;
  height: 4.18vw;
}
body section .phont {
  margin-top: 2vw;
}
body section .phont p {
  font-size: 1.98vw;
  color: black;
  font-weight: bold;
}
body section .phont ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body section .phont ul li img {
  height: 10.83vw;
  width: 14.52vw;
}
body section .phont ul li p {
  font-size: 0.9vw;
  color: black;
  text-align: center;
}
body section .janpan {
  margin-top: 2vw;
}
body section .janpan .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body section .janpan .top span:nth-child(1) {
  font-size: 1.98vw;
  color: black;
  font-weight: bold;
  display: block;
}
body section .janpan .top span:nth-child(2) {
  font-size: 0.9vw;
  color: black;
  text-align: center;
  height: 1.5vw;
  line-height: 1.5vw;
  display: block;
  border: 2px solid skyblue;
}
body section .janpan ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body section .janpan ul li img {
  height: 19.25vw;
  width: 14.04vw;
  border-radius: 0.5vw;
}
body section .janpan ul li p {
  text-align: center;
  font-size: 0.9vw;
  color: black;
}
body section .janpan .bottom {
  margin-top: 3vw;
}
body section .janpan .bottom img {
  width: 78vw;
  height: 14.2vw;
}
body section .wallpaper h1 {
  font-size: 1.8vw;
  font-weight: normal;
  margin: 2vw 0;
}
body section .wallpaper .bizhi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body section .wallpaper .bizhi .tp .box {
  width: 18vw;
  margin-bottom: 1.6vw;
  box-shadow: 0 0 0.7vw #666;
  background: #fff;
  border-radius: 0.8vw;
}
body section .wallpaper .bizhi .tp .box .pic {
  width: 16vw;
  margin: 0 auto;
  padding-top: 0.8vw;
}
body section .wallpaper .bizhi .tp .box .pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
}
body section .wallpaper .bizhi .tp .box .title {
  width: 16vw;
  height: 1.4vw;
  margin: 0 auto;
  line-height: 1.4vw;
  text-align: center;
  color: #666;
  font-size: 0.9vw;
  font-weight: bold;
  overflow: hidden;
}
body footer {
  border-top: 3px solid skyblue;
  background-color: #bbebf7;
}
body footer .ending {
  display: flex;
  height: 12.38vw;
  flex-direction: row;
  justify-content: space-between;
}
body footer .ending .left {
  width: 9.16vw;
  height: 12.38vw;
}
body footer .ending .left dl {
  float: left;
  margin-top: 1vw;
}
body footer .ending .left dl dt {
  font-size: 2.04vw;
  color: #9b9f9f;
  font-weight: bold;
}
body footer .ending .left dl dd {
  font-size: 1.13vw;
  color: black;
}
body footer .ending .center {
  width: 34.83vw;
  height: 12.38vw;
}
body footer .ending .center p {
  font-size: 0.86vw;
  color: black;
  margin-top: 0.9vw;
}
body footer .ending .right {
  width: 20vw;
}
body footer .ending .right ul {
  margin: 2vw 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body footer .ending .right ul li img {
  width: 4.82vw;
  height: 5.04vw;
  border-radius: 4vw;
}
body footer .ending .right ul li p {
  font-size: 0.98vw;
  color: black;
  text-align: center;
}
